  .container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    height: 200px;
    background-color: lightblue;
    margin: 10px;
    flex: 1 1 100%; 
}

@media (min-width: 768px) {
    .container {
        flex-wrap: nowrap;
    }
    .item {
        flex: 1;
    }
}